@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontPrimary: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #00000044;
  color: var(--fontPrimary);
}

html {
  overflow: hidden;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
  opacity: unset;
}

.tooltip::before {
  @apply z-50 !important;
  color: var(--fontPrimary) !important;
}

.divider:before,
.divider:after {
  height: 0.086rem !important;
}
